/* color pallete
rgba(255,228,51,0)
#333
rgba(255,228,51,.9)
#ffe433
*/

* {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	scroll-behavior: smooth;
}
body{
	background: #222;
}
header{
	background-image: url("assets/images/avatar2.jpg");
	/* height:700px; */
	background-position:cover;
}
.yellow{
	color:#9c860b;
}
/* navigation styles goes here */
#navmenu{
	text-align: center;
	position: fixed;
	right:0;
	left:0;
	z-index:99999999;
}
#navmenu a{
	/* color:#fff; */
	text-decoration:none;
	display: block;
	padding: 2%;
	transition: background-color .3s linear;
	animation: textfill 5s ease-in-out 2s infinite alternate;
}
/* @keyframes textfill{
	0%{color: red;}
	15%{color: orange;}
	30%{color: yellow}
	45%{color:green;}
	60%{color: blue;}
	75%{color: indigo;}
	90%{color:violet;}
	100%{color:#ffe433;}
} */

#navmenu a:active, #navmenu a:hover{
	color:#9c860b;
}
#navmenu a:hover{
	background-color:#9c860b;
	color:#fff;
	opacity:.5;
}

/* header styles */
.flex{
	display: block;
}
.avatar{
	animation: flash 3s ease-out;
	transform: translate(3em 0em);
	overflow: hidden;
}

@keyframes flash{
	/* This gives a flashlike glow of the avatar onload  */
	from{opacity:.1}
	to{opacity:1}
}
.article-content, .work-content{
	padding: 3em;
}
.work-content{
	background-color:#000;
	z-index:11;
}
.content__p{
	margin-bottom:1em;
}
.call-to-action{
	transition: background-color .3s ease-in-out;
	text-decoration:none;
	transition: border 1s ease-in-out;
}
.call-to-action:hover{
	border-bottom: 2px solid #ffe433;
	opacity:.5;
}

/* web view responsiveness is declared here */
@media only screen and (min-width:720px){
	#navmenu a{
		display:inline-block;
	}
	.flex{
		display: flex;
		flex-direction: row-reverse;
	}
	.flex > div{
		align-content: space-around;
	}
	.avatar{
		transform: translate(0em, 3em);
	}
	.article-content{
		transform:translateY(8em);
	}
	.work-content{
		transform:translateY(-.5em);
		
}

